* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}

.container {

    width: 350px;
    height: 450px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10PX;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    position: relative;
}

.search-box {
    margin-top: 30px;
    border: 1px solid white;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 50px;
}

.fa-location-dot {
    font-size: 20px;
    margin-right: 10px;
    color: white
}

.input {
    width: 180px;
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}

.input::placeholder {
    color: white;
}

#btn {
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.fa-magnifying-glass {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.img {
    margin-bottom: 20px;
}

.img img {
    width: 100px
}

.temp {
    display: flex;
    font-size: 50px;
}

.des {
    font-weight: bold;
    margin-bottom: 20px;
}

.temp span {
    font-size: 20px;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 80%;
}

.sec {
    display: flex;
}

.sec svg {
    font-size: 30px;
    margin-right: 10px;
}

.sec p {
    font-weight: bold;
}

.error-img {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    display: none;
}

.err-img {
    width: 300px;
}

.opps {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
